@import url('./base.css');

body {
  background-color: var(--background);
  margin: 0%;
  padding: 0%;
}
.tablas {
  display: flex;
  padding: 6px;
  gap: 6px;
}
.title {
  text-align: center;
  font-size: 1.6rem;
}
